body{
    font-family: Arial, Helvetica , sans-serif;
    background-color: #f4f4f4;
    padding: 20px; 
    line-height: 1.6;
    color: #333;
    margin: 0;

}
header{
    background-color: rgba(192, 80, 20, 0.868);
    color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:24px 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.logoimg{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
div {
  background-color: rgb(80, 188, 255);
  width: 300px;
  height: 70px;
  border: 1px solid black;
  overflow: auto;
}
    
    
nav{
     background-color: #343a40; 
    text-align: center;
    padding:12px 0 ;

}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 255);
    margin: 0 20px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
}
nav a:hover{
    color: #ff6347;
    text-decoration: underline;
}

h1,h2{
    color: blue;
}
form{
    background-color: white;
    padding: 20px;
    border: 1xp solid #ddd;
    max-width: 400xp;
}
input,textarea{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
form{
    max-width: 650px;
    margin: 24px auto;
}
form label{
    margin-bottom: 8px;
    font-weight: 600;
    display: block;
}
form input,form textarea,form button{
    width: 90%;
    padding: 14px;
    margin-bottom: 18px;
    border: 1px solid wheat;
    font-size: 16px;
    border-radius: 8px;
    
}
form input:focus, form text area:focus{
    border-color: blue;
    outline: none;
}
form button{
    background-color: darkblue;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
form button:hover{
    background-color: #3900b3;
}
form button:active{
    background-color: #004080;
}
.main{
    width: 200px;
    height: 200px;
    gap: 100px;
    border-radius: 8px;
}
    
.main:hover{
    box-shadow:  0 6px 18px rgba (0,0,0, 0.15);
}

